@font-face {
    font-family: 'Lora';
    src: url('fonts/Lora-VariableFont_wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lora';
    src: url('fonts/Assistant-VariableFont_wght.ttf') format('truetype');
  }

  