.navbar-nav {
    appearance: none;
    display: none;

    img {
        display: none;
    }
}

@include media-breakpoint-up(md) {
    .navbar-nav {
        background: map-get($colors, pink-portfolio-dark);
        height: 100px;
        align-items: center;

        .navbar-desktop {
            display: none;
            appearance: none;
        }

        .false-nav {
            align-items: center;
            padding: 36px 0 0 50px;
        }

        img {
            width: 100px;
            display: block;
        }

        li {
            padding: 20px 0;
        }

        a {
            color: white;
        }
    }
}