.navbar-nav {
    appearance: none;
    display: none;

    img {
        display: none;
    }
}

@include media-breakpoint-up(md) {
    header {
        margin-bottom: 150px;
    }

    .nav-desktop {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar-nav {
        height: 100px;
        align-items: center;
        
        &:before {
            content: '';
            background: map-get($colors, black-portfolio);
            height: 100px;
            width: 200vw;
            left: -50vw;
            position: absolute;
            z-index: -1;
        }

        .navbar-desktop {
            display: none;
            appearance: none;
        }

        .false-nav {
            align-items: center;
            padding: 36px 0 0 50px;
        }

        img {
            width: 100px;
            display: block;
        }

        li {
            padding: 20px 0;
        }

        a {
            color: white;
        }
    }
}