$colors: (
  black: #000,
  blue-portfolio: #03C4DD,
  blue-portfolio-dark: #03A0B5,
  blue-portfolio-light: #0EE0FB,
  black-portfolio: #2B2D42,
  black-portfolio-dark: #202231,
  black-portfolio-light: #404463,
  mint-portfolio: #41E2BA,
  mint-portfolio-dark: #2ADFB2,
  mint-portfolio-light: #71EACC,
  pink-portfolio: #E86A92,
  pink-portfolio-dark: #E34F7E,
  pink-portfolio-light: #EE95B1,
  white: #fff,
  white-portfolio: #F7F7F9
);
