.hero-card {
    color: map-get( $colors, black-portfolio-dark );

    .card-media {
        height: 100%;
        width: 100%;
        max-height: 300px;

        img {
            height: inherit;
            object-fit: cover;
        }
    }
}