.long-card {
    max-height: 250px;
    color: map-get( $colors, black-portfolio-dark );
    overflow: hidden;

    .card-media {
        left: 0;
    }

    img {
        width: inherit;
        object-fit: cover;
    }
}