.hero-module {
    height: 100vh;

    .hero_image {
        width: 100%;
    }
}

@include media-breakpoint-up(lg) {
    .hero-module {

        .hero-media,
        .hero-content {
            height: 100vh;
        }
    }

}